body {
	font-family: sans-serif;
	color: black;
	margin: 0;
	background-image: url("fond3.jpg");
	background-size: cover;
    background-attachment: scroll;
}

#menu {
	position: fixed;
	background-color: #1e3653;
	color: white;
	text-align: center;
	width: 96%;
	left:2%;
	top: 2%;
	border-bottom-left-radius: 25px;
	border-top-right-radius: 25px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 2;
}

#menu a{
	display:inline-block;
	margin: 10px 20px;
	color: white;
	cursor: pointer;
    text-decoration: underline;
}

#menu + h1 {
	margin: 0;
	margin-top: 10%;
	background: none;
	color: #1e3653;
	text-align: center;
	width:100%;
	padding:0;
	font-size: 44px;
}

h1 {
	position:relative;
	background-color: #1e3653;
	color: white;
	border-bottom-left-radius: 25px;
	border-top-right-radius: 25px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: fit-content;
	text-align:center;
	padding: 5px 15px;
	margin: 15px;
	margin-top: 60px;
}


.ss_menu {
	background-color: #1e3653;
	color: white;
	border-radius:25px;
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%;
}


.formation_experience {
	width:30%;
	padding: 3% 0;
	position:relative;
	display:inline-block;
	float:left;
	margin:1.5%;
}

#formation-gauche {
	margin-left: 12%;
}

#formation-droit {
	float: right;
	margin-right: 12%;
}

.cache {
	display:none;
	background-color: white;
	text-align: center;
	padding: 8px;
	border-radius:25px;
	color: #1e3653;
	width: 99%;
}

.formation_experience:hover {
	padding: 0;
	cursor: pointer;
}

.formation_experience:hover .cache {
	display: block;
}

.desc {
	display: none;
	text-align: justify;
	margin: 20px 10px;
}

dt {
	position:relative;
	color: #1e3653;
	font-weight: bold;
	padding: 5px 3px;
	margin-left: 40px;
	margin-top: 25px;
	font-size: 24px;
	
}

dt > img {
	max-height: 24px;
	top:10px;
	margin: 10px;
	display: inline;
	position:relative;
}

.langues {
	display: inline;
	margin: 15px;
}

.langues + dd {
	display: block;
}

dd {
	padding: 5px 15px;
	margin: 15px;
	margin-left: 50px;
	display: inline-block;
}

#contact {
	display: none;
	position: fixed;
	background-color:white;
	border: solid #1e3653 5px;
	border-radius: 25px;
	z-index:1;
	top: 15%;
	left: 30%;
	right: 30%;
	text-align: center;
}

#contact dt {
	margin:0;
}
